* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #020409;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: contrast(110%);
}
.container {
    width: 100%;
    height: 100%;
    /* 径向渐变，模拟深夜地平线的微光 */
    background-image: radial-gradient(circle at 50% 100%, #111827 0%, #020409 80%);
}
#universe {
    width: 100%;
    height: 100%;
    position: absolute;
}
#canvas {
    z-index: 10;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    opacity: 0.8;
}
#scene {
    position: absolute;
    left: 50%;
    margin-left: -840px; /* 居中显示地平线 */
}
